<div {{did-update this.onOpenChange @open}} class="modal fade" id="modalUserNome" tabindex="-1"
    aria-labelledby="modalUserNomeLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" data-bs-backdrop="static">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalUserNomeLabel">Digite seu usuário</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <Input @type="text" class="form-control" id="inputUserName" placeholder="Digite o seu usuário..."
                        @value={{this.userName}}>
                    </Input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick={{perform this.onUserNameSave}}>Confirmar</button>
            </div>
        </div>
    </div>
</div>