<li class="d-flex justify-content-end mb-4 ml-4">
    <div class="chat-body white p-3 ml-2 shadow ">
        <div class="header">
            <strong class="primary-font">Eu</strong>
            <small class="pull-right text-muted"><i class="far fa-clock"></i> 12 mins ago</small>
        </div>
        <hr class="w-100">
        <p class="mb-0">
            {{@message.mensagem}}
        </p>
    </div>
</li>